@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:wght@600&family=Gowun+Dodum&family=Plus+Jakarta+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  ,
  card-title {
    @apply text-2xl;
  }
  h2,
  card-subtitle {
    @apply text-xl;
  }
}
